@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1  class="display-4" style="background-color:lightyellow;font-family:serif">Welcome to &#127979;MyUniversity&#127979;</h1>
    <p style="font-size:150%; background-color:yellow;">Join us <br /> Improve Your Skill <a href="https://docs.microsoft.com/aspnet/core"></a>.</p>
</div>
